label{display:block;margin:5px 0}
input[type=text]{border:1px solid #f0f0f0;padding: 8px}
input[type=submit]{background:#666;border:1px solid #333;color:#fff;cursor:pointer;display: block;margin:10px 0;padding:5px 14px;text-shadow:1px 1px 1px #000;}
input[type=submit]:hover{background: #999}
.davalidator-msg{padding: 1% 2%;background:#ccc;display: block;margin: 1% 0}